/* Nav_Bar_White: */
body, html {
  margin: 0;
  /* padding: 0 60px; */
  /* outline: 1px black solid; */
  font-family: 'Noto Serif JP', sans-serif;
}

nav {
background: #FFFFFF;
max-width: 1440px;
color: blue;
}

a {
  text-decoration: none;
}

.section-title h1 {
  font-size: 35px;
  font-weight: 300;
  padding-top: 62px;
  color: #d0021b;
  text-align: center;
}




/* nav {
  height: 20%;
} */

.main-menu {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.main-menu>li {
  /* display: inline-block; */
}

nav ul li {
    list-style: none;
}

nav ul li a {
  padding: 40px 46px;

}

.logo img  {
  width: 200px;
  height: 100%;
  /* background: rgba(0,0,0,0.3); */

}

.header-image img {
  width: 980px;
  float: right;



}

.col-content a {
  display: inline-flex;
vertical-align: middle;
}


.discover {
  clear: both;
}

section.discover {
  max-height: 937px;
  /* width: 1440px; */
  background: url('../images/background.png');
  background-size: cover;
}

.row {
  padding: 27px 50px;
  width: 1320px;
}

.col img {
  width: 100%;

}

.col-content {
  height: 350px;
  padding: 80px 0;
  font-weight: 300;
}

.col-content a {
  float: right;
}

/* .main-box {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: white;


  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
} */



/* .header-image {
    display: flex;
    flex-direction: column;

} */

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 30%;
  border: 1px black solid;
}
