/* Nav_Bar_White: */
body, html {
  margin: 0;
  padding: 0 60px;
  /* outline: 1px black solid; */
}

nav {
background: #FFFFFF;
max-width: 1440px;
color: blue;
}

.section-title h1 {
  font-size: 45px;
  padding-top: 62px;
  color: #d0021b;
  text-align: center;
}



/* nav {
  height: 20%;
} */

.main-menu {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.main-menu>li {
  /* display: inline-block; */
}

nav ul li {
    list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 40px 46px;

}

.logo img  {
  width: 200px;
  height: 100%;
  /* background: rgba(0,0,0,0.3); */

}

.header-image img {
  width: 980px;
  float: right;



}


.discover {
  clear: both;
}

/* .main-box {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: white;


  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
} */



/* .header-image {
    display: flex;
    flex-direction: column;

} */




/* 6: */
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #666666;
/* Oval 2: */
background: #D0021B;
/* BR: */
font-family: Baskerville;
font-size: 20px;
color: #FFFFFF;
text-align: center;
line-height: 18px;
/* Oval 3: */
background: #FFFFFF;
/* Home: */
font-family: Baskerville;
font-size: 18px;
color: #D0021B;
text-align: center;
/* Line 5: */
border: 1px solid #D0021B;
/* Men: */
font-family: Baskerville;
font-size: 18px;
color: #000000;
text-align: center;
/* Women: */
font-family: Baskerville;
font-size: 18px;
color: #000000;
text-align: center;
/* Style & Accessories: */
font-family: Baskerville;
font-size: 18px;
color: #000000;
text-align: center;
/* My Account: */
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #3B3B3B;
text-align: center;
/* Shape: */
background: #000000;
/* Saved Items: */
font-family: Baskerville;
font-size: 18px;
color: #3B3B3B;
text-align: center;
/* Shape: */
background: #000000;
/* Oval: */
border: 0 solid #000000;
